*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
   --color-primary: #6c63ff;
   --color-success: #00bf8e;
   --color-warning: #f7c94b;
   --color-danger: #f75842;
   --color-danger-variant: rgba(247, 88, 66, 0.4);
   --color-white: #fff;
   --color-light: rgba(255, 255, 255, 0.7);
   --color-black: #000;
   --color-bg: #1f2641;
   --color-bg1: #2e3267;
   --color-bg2: #424890;

   --container-width-lg: 80%;
   --container-width-md: 90%;
   --container-width-sm: 94%;
   
   --transition: all 400ms ease;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    max-width: var(--container-width-lg);
    margin: 0 auto;
    padding: 0 15px;
}

section{
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;

}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    color: var(--color-white);
    border: var(--color-white);
}

.btn-primary{
    
    padding: 12px 20px;
    background: var(--color-danger);
    color: var(--color-white);
}

/* ==================== Navbar ==================== */
nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

/* ==================== Navbar change ==================== */
.window-scroll{
    background-color: var(--color-primary);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav button{
   display: none;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav__menu  a:hover{
    color: var(--color-bg2);
}

/* ==================== Header ==================== */

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5 rem;
}

.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.info{
    padding-bottom: 20px;
    
}


/* ==================== footer ==================== */
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #1f2641;
    }
    
    .footer > * {
    flex:  1 100%;
    }
    
    .l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
    }
    
    h2 {
    font-weight: 400;
    font-size: 15px;
    }
    
    .footer ul {
    list-style: none;
    padding-left: 0;
    }
    
    .footer li {
    line-height: 2em;
    }
    
    .footer a {
    text-decoration: none;
    }
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    }
    
    .r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
    }
    
    .box a {
    color: #999;
    }
    
    .h-box {
    column-count: 2;
    column-gap: 1.25em;
    }
    
    .b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
    }
    
    .l-footer p {
    padding-right: 20%;
    color: #999;
    }   
    
@media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
}
}
    

